################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Catalog.API/DesignTimeBuild/.dtbcache.v2
